<section class="backdrop" data-mobile-menu>
  <div class="modal">
    <nav class="navi-modal">
      <ul class="navi-modal-list">
        <li><a class="navi-modal-link" href="#hero">Home</a></li>
        <li><a class="navi-modal-link" href="#about">About the Game</a></li>
        <li><a class="navi-modal-link" href="#features">Game Features</a></li>
        <li><a class="navi-modal-link" href="#howtoplay">How to Play</a></li>
        <li>
          <a class="navi-modal-link" href="#reviews">What Players Say</a>
        </li>
        <li>
          <a class="navi-modal-link" href="#questions"
            >Frequently Asked Questions</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
