<section class="features" id="features">
  <div class="features-container">
    <h2 class="features-title">Game Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <p class="features-text">
          Idle RPG Adventure - Play anytime, anywhere, and grow stronger even
          offline
        </p>
      </li>
      <li class="features-item">
        <p class="features-text">
          Idle RPG Adventure - Play anytime, anywhere, and grow stronger even
          offline
        </p>
      </li>
      <li class="features-item">
        <p class="features-text">
          Voice acting is next level. It feels like I’m playing an epic anime.
        </p>
      </li>
      <li class="features-item">
        <p class="features-text">
          Super polished and balanced. You really feel rewarded even
          if you’re a casual player
        </p>
      </li>
      <li class="features-item">
        <p class="features-text">
          I wish the energy recharged faster, but otherwise this game
          is fantastic!
        </p>
      </li>
      <li class="features-item">
        <p class="review-text">
          The alliance system makes the game super social. It’s fun strategizing
          with friends.
        </p>
      </li>
    </ul>
  </div>
</section>
