<section id="hero" class="hero">
  
    <div class="hero-images">
        <h1 class="hero-title"><span class="hero-title-main">Legends Reborn</span><span class="hero-subtitle">Last Battle</span></h1>
    </div>

    <div class="hero-content">
      <p class="hero-text">Start your Zero to Hero Journey!</p>
      <a
        class="hero-button"
        href="https://play.google.com/store/apps/details?id=com.Knight.GrandQuest"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="icon-google" width="32" height="32">
          <use href="/img/sprite.svg#google-play"></use>
        </svg>
        <span class="btn-google-text">Get it on Google Play</span>
      </a>
      <p class="hero-description">
        Summon mythic heroes, battle epic bosses, and conquer the world!
      </p>
    </div>
  </div>
</section>
