<section class="preview" id="preview">
  <div class="container">
    <h2 class="preview-title section-title">In-Game Preview</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide slide-1">
          <picture>
            <source
              srcset="
                /img/preview/card1-mobile@2x.jpg 2x,
                /img/preview/card1-mobile@1x.jpg 1x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/preview/card1-desktop@2x.jpg 2x,
                /img/preview/card1-desktop@1x.jpg 1x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/preview/card1-mobile@1x.jpg"
              alt="Card 1"
              class="preview-img"
            />
          </picture>
        </li>
        <li class="swiper-slide slide-2">
          <picture>
            <source
              srcset="
                /img/preview/card2-mobile@2x.jpg 2x,
                /img/preview/card2-mobile@1x.jpg 1x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/preview/card2-desktop@2x.jpg 2x,
                /img/preview/card2-desktop@1x.jpg 1x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/preview/card2-mobile@1x.jpg"
              alt="Card 2"
              class="preview-img"
            />
          </picture>
        </li>
        <li class="swiper-slide slide-3">
          <picture>
            <source
              srcset="
                /img/preview/card3-mobile@2x.jpg 2x,
                /img/preview/card3-mobile@1x.jpg 1x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/preview/card3-desktop@2x.jpg 2x,
                /img/preview/card3-desktop@1x.jpg 1x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/preview/card3-mobile@1x.jpg"
              alt="Card 3"
              class="preview-img"
            />
          </picture>
        </li>
        <li class="swiper-slide slide-4">
          <picture>
            <source
              srcset="
                /img/preview/card4-mobile@2x.jpg 2x,
                /img/preview/card4-mobile@1x.jpg 1x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/preview/card4-desktop@2x.jpg 2x,
                /img/preview/card4-desktop@1x.jpg 1x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/preview/card4-mobile@1x.jpg"
              alt="Card 4"
              class="preview-img"
            />
          </picture>
        </li>
        <li class="swiper-slide slide-5">
          <picture>
            <source
              srcset="
                /img/preview/card5-mobile@2x.jpg 2x,
                /img/preview/card5-mobile@1x.jpg 1x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/preview/card5-desktop@2x.jpg 2x,
                /img/preview/card5-desktop@1x.jpg 1x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/preview/card5-mobile@1x.jpg"
              alt="Card 5"
              class="preview-img"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="preview-controls">
      <button type="button" class="swiper-button-prev">
        <svg class="preview-button-icon" width="32" height="32">
          <use href="./img/sprite.svg#up"></use>
        </svg>
      </button>
      <div class="swiper-pagination"></div>
      <button type="button" class="swiper-button-next">
        <svg class="preview-button-icon" width="32" height="32">
          <use href="./img/sprite.svg#up"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
