<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title reviews-title">What Players Say</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <p class="review-text">
          Visually stunning and so addictive! My favorite idle RPG. Can’t stop
          collecting heroes.
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Olivia Morgan</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          Love the hero designs and animations. The tower battles are intense
          and fun!
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Ethan Carter</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          Voice acting is next level. It feels like I’m playing an epic anime.
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Lucas Bennett</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          Super polished and balanced. You really feel rewarded even
          if you’re a casual player
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Noah Hayes</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          I wish the energy recharged faster, but otherwise this game
          is fantastic!
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Amelia Foster</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          The alliance system makes the game super social. It’s fun strategizing
          with friends.
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Sophia Reed</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="reviews-item">
        <p class="review-text">
          I’ve played tons of idle games. This one actually makes me care about
          the characters!
        </p>
        <div class="review-wrapper">
          <h3 class="review-user">Thom Sullivan</h3>
          <ul class="review-stars">
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
            <li>
              <svg class="review-star-icon" width="24" height="24">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
