<section class="trailer">
  <div class="container">
    <h2 class="trailer-title section-title">Watch the Trailer</h2>
    <p class="trailer-text">
      Get a glimpse of epic battles, heroic moments, and the immersive world of
      Legends Reborn.
    </p>
    <div class="custom-video-wrapper">
      <video
        id="trailer"
        width="1128"
        height="500"
        preload="none"
        poster="/img/trailer/video_mob@1x.jpg"
      >
        <source src="https://youtu.be/qaleYCbLEXY" type="video/mp4" />
        Ваш браузер не підтримує відео.
      </video>
      <button
        id="customPlayBtn"
        class="custom-play-button"
        aria-label="Play video"
      ></button>
    </div>
  </div>
</section>
