.about {
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: url(../img/about/blur_mob@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/about/blur_mob@2x.png);
  }
  background-repeat: no-repeat;
  background-size: 862px auto;
  background-position: top 0px center;

  @include media('desktop') {
    padding-top: 100px;
    padding-bottom: 50px;

    background-image: url(../img/about/blur_desk@1x.png),
      url(../img/features/vector@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/about/blur_desk@2x.png),
        url(../img/features/vector@2x.png);
    }
    background-repeat: no-repeat;
    background-size: 1895px auto, 1500px auto;
    background-position: top -380px center, bottom -430px center;
  }
}

.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media('desktop') {
    flex-direction: row;
    gap: 24px;
  }
}

@include media('desktop') {
  .about-item:first-child .about-text {
    width: 648px;
  }
}

.about-title {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;

  @include media('desktop') {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.about-text {
  font-weight: 700;
  font-size: 16px;
  color: #fff4f4;
  margin-bottom: 10px;

  @include media('desktop') {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.about-wrap .about-text:last-child {
  margin: 10px 0 0;

  @include media('desktop') {
    margin: 20px 0 0;
  }
}
