.features {
  margin-bottom: 35px;
  @include media('desktop') {
    margin-bottom: 95px;
    background-image: url(../img/features/vector@1x.png);
    background-repeat: no-repeat;
    background-size: 1357px auto;
    background-position: bottom -72px center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/features/vector@2x.png);
    }
  }
}
.features-container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  background-image: url(../img/features/woman-mobile@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/features/woman-mobile@2x.png);
  }
  background-repeat: no-repeat;
  background-size: 284px auto;
  background-position: top 22px center;

  @include media('desktop') {
    max-width: 1200px;
    padding: 0 36px;
    background-image: url(../img/features/woman-desktop@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/features/woman-desktop@2x.png);
    }

    background-size: 350px auto;
    background-position: top right 36px;
  }
}
.features-title {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 24px;
  margin-bottom: 246px;
  @include media('desktop') {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('desktop') {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 816px;
  }
}

@include media('desktop') {
  .features-text {
    padding-top: 120px; // достатньо, щоб текст опинився під іконкою
    font-size: 16px;
    line-height: 1.5;
  }
}

.features-item {
  min-height: 258px;
  width: 288px;
  height: 300px;
  padding-top: 141.5px;
  padding-inline: 17px;
  background-size: 96px 96px, 465px 446px;
  background-position: center top 25px, center top -87px;
  background-repeat: no-repeat, no-repeat;

  &:nth-child(1) {
    background-image: url(../img/features/warrior@1x.png),
      url(../img/features/item-mobile@1x.png);
  }
  &:nth-child(2) {
    background-image: url(../img/features/ninja@1x.png),
      url(../img/features/item-mobile@1x.png);
  }
  &:nth-child(3) {
    background-image: url(../img/features/map@1x.png),
      url(../img/features/item-mobile@1x.png);
  }
  &:nth-child(4) {
    background-image: url(../img/features/mage@1x.png),
      url(../img/features/item-mobile@1x.png);
  }
  &:nth-child(5) {
    background-image: url(../img/features/leaderboard@1x.png),
      url(../img/features/item-mobile@1x.png);
  }
  &:nth-child(6) {
    background-image: url(../img/features/voice@1x.png),
      url(../img/features/item-mobile@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/features/item-mobile@2x.png);

    &:nth-child(1) {
      background-image: url(../img/features/warrior@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
    &:nth-child(2) {
      background-image: url(../img/features/ninja@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
    &:nth-child(3) {
      background-image: url(../img/features/map@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
    &:nth-child(4) {
      background-image: url(../img/features/mage@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
    &:nth-child(5) {
      background-image: url(../img/features/leaderboard@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
    &:nth-child(6) {
      background-image: url(../img/features/voice@2x.png),
        url(../img/features/item-mobile@2x.png);
    }
  }

  @include media('desktop') {
    padding-top: 105.5px;
    width: 328px;
    height: 227px;
    background-size: 96px 96px, 350px 290px;
    background-position: center top 15px, center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease, background-size 0.3s ease,
      background-position 0.3s ease;

    &:nth-child(1) {
      background-image: url(../img/features/warrior@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/warrior@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    &:nth-child(2) {
      background-image: url(../img/features/ninja@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/ninja@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    &:nth-child(3) {
      margin-left: 96px;
      background-image: url(../img/features/map@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/map@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    &:nth-child(4) {
      background-image: url(../img/features/mage@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/mage@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    &:nth-child(5) {
      background-image: url(../img/features/leaderboard@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/leaderboard@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    &:nth-child(6) {
      background-image: url(../img/features/voice@1x.png),
        url(../img/features/item-desktop@1x.png);

      &:hover {
        background-image: url(../img/features/voice@1x.png),
          url(../img/features/item-hover@1x.png);
        background-size: 105px 105px, 350px 290px;
      }
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/features/item-desktop@2x.png);

      &:nth-child(1) {
        background-image: url(../img/features/warrior@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/warrior@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }

      &:nth-child(2) {
        background-image: url(../img/features/ninja@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/ninja@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }

      &:nth-child(3) {
        background-image: url(../img/features/map@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/map@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }

      &:nth-child(4) {
        background-image: url(../img/features/mage@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/mage@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }

      &:nth-child(5) {
        background-image: url(../img/features/leaderboard@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/leaderboard@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }

      &:nth-child(6) {
        background-image: url(../img/features/voice@2x.png),
          url(../img/features/item-desktop@2x.png);

        &:hover {
          background-image: url(../img/features/voice@2x.png),
            url(../img/features/item-hover@2x.png);
          background-size: 105px 105px, 350px 290px;
        }
      }
    }
  }
}

.features-text {
  @include media('desktop') {
    padding: 10px;
  }
}
