.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #2c3e50;
  padding: 4px 0;
  color: white;
}

@media (min-width: 1200px) {
  .header {
    padding: 10px 0;
  }
}

.logo-img {
  width: 40px;
  height: 40px;
}

@media (min-width: 1200px) {
  .logo-img {
    width: 60px;
    height: 60px;
  }
}

.nav-desktop {
  flex: 1 1 auto;
  min-width: 0; // <--- Це потрібно, щоб не вилазив flex-елемент
  overflow: hidden;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.open-menu-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.open-menu-btn img,
.modal-close-btn img {
  display: block;
  background: transparent;
}

.order-link {
  color: white;
  text-decoration: underline;
  flex-shrink: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.backdrop.is-open {
  display: flex;
}

.modal {
  background: #2c3e50;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.modal-close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.navi-modal-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navi-modal-link,
.modal-order-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .nav-desktop {
    display: block;
  }

  .open-menu-btn,
  .backdrop {
    display: none !important;
  }
}
