.preview {
  background-image: url(../img/preview/blur_mob@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/preview/blur_mob@2x.png);
  }
  background-repeat: no-repeat;
  background-size: 862px auto;
  background-position: bottom -190px center;

  @include media('desktop') {
    background-image: url(../img/preview/blur_desk@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/preview/blur_desk@2x.png);
    }
    background-repeat: no-repeat;
    background-size: 1835px auto;
    background-position: bottom -45px center;
  }
}

.preview-title {
  margin-bottom: 10px;

  @include media('desktop') {
    margin-bottom: 30px;
  }
}

.preview-container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @include media('desktop') {
    width: 1200px;
    padding: 0 36px;
  }
}

.swiper-container {
  width: 100%;
  max-width: 288px;
  overflow: hidden;

  @include media('desktop') {
    max-width: 1128px;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  min-height: 172px;
  @include media('desktop') {
    min-height: 380px;
  }
}

.swiper-3d {
  overflow: hidden;
}

.swiper-slide {
  width: 288px;
  height: 172px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform;

  @include media('desktop') {
    width: 650px;
    height: 380px;
  }
}

.preview-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.swiper-button-prev {
  transform: rotate(-90deg);

  &:hover,
  &:focus {
    transform: rotate(-90deg) scale(1.2);
  }
}

.swiper-button-next {
  transform: rotate(90deg);

  &:hover,
  &:focus {
    transform: rotate(90deg) scale(1.2);
  }
}

.swiper-pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.swiper-pagination-bullet {
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background: #3c5578;
  transition: background 0.3s;
}

.swiper-pagination-bullet-active {
  background: #fd9732;
  border-radius: 4px;
  width: 20px;
  height: 6px;
}

@include media('desktop') {
  .preview-img {
    width: 680px;
    height: 380px;
  }
}
