.preview-title {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 32px;

  @include media('desktop') {
    font-size: 32px;
  }
}

.preview-card {
  width: 100%;
  height: auto;
  display: block;
}

.arrow-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 32px;

  @include media('desktop') {
    .arrow-icons {
      gap: 20px;
      margin-top: 64px;
    }
  }
}

.icon {
  pointer-events: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.preview-swiper-wrapper {
  position: relative;
  height: 480px;

  .preview-swiper-slide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease, z-index 0.5s;
    z-index: 1;

    &.swiper-slide-active {
      z-index: 2;
      transform: translateX(-50%) scale(1.1); // Акцентний слайд
    }
  }
}

.preview-swiper {
  width: 100%;
  padding-bottom: 40px;
}

.preview-swiper-slide {
  width: 320px;
  height: 480px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  transition: transform 0.3s ease;

  &:nth-child(1) {
    background-image: url('../img/preview/card1-desktop@1x.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/preview/card1-desktop@2x.jpg');
    }
  }
  &:nth-child(2) {
    background-image: url('../img/preview/card2-desktop@1x.jpg');
    @media (min-resolution: 2dppx) {
      background-image: url('../img/preview/card2-desktop@2x.jpg');
    }
  }
  &:nth-child(3) {
    background-image: url('../img/preview/card3-desktop@1x.jpg');
    @media (min-resolution: 2dppx) {
      background-image: url('../img/preview/card3-desktop@2x.jpg');
    }
  }
  &:nth-child(4) {
    background-image: url('../img/preview/card4-desktop@1x.jpg');
    @media (min-resolution: 2dppx) {
      background-image: url('../img/preview/card4-desktop@2x.jpg');
    }
  }
  &:nth-child(5) {
    background-image: url('../img/preview/card5-desktop@1x.jpg');
    @media (min-resolution: 2dppx) {
      background-image: url('../img/preview/card5-desktop@2x.jpg');
    }
  }
}

.swiper-pagination {
  display: flex;
  gap: 10px;
  align-items: center;

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2d426d;
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    background-color: #ffa733;
  }
}
