@import './container';
@import './common';
@import './policy';

@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/effect-coverflow.scss';
@import '../../node_modules/swiper/swiper-vars.scss';

@import './pop-up.scss';
@import './header';
@import './hero';
@import './about';
@import './features';
@import './howtoplay';
@import './trailer';
@import './preview';
@import './reviews';
@import './questions';
@import './download-now';
@import './footer';

:root {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;

  color: #f0f0f0;
  background-color: #7c8ba8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
