@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Alfa+Slab+One&family=Inter:wght@400;600;700&family=Noto+Sans:wght@400;700&family=Russo+One&display=swap');
@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './features.scss';
@import './howtoplay.scss';
@import './trailer.scss';
@import './preview.scss';
@import './reviews.scss';
@import './questions.scss';
@import './footer.scss';
@import './container.scss';

:root {
  --font-family: 'Noto Sans', sans-serif;
  --second-family: 'Alegreya Sans', sans-serif;
  --third-family: 'Alfa Slab One', sans-serif;
  --font3: 'Inter', sans-serif;
  --font4: 'Russo One', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #7c8ba8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
